SUPABASE_URL=https://icnigaadacmctciqqtmw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljbmlnYWFkYWNtY3RjaXFxdG13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MzEyOTksImV4cCI6MjA3NjIwNzI5OX0.Xoi9fsj3HsdqQhW9uIUBXmK-YyUHBwXrieOrBFoUTAA    